main{
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  
  
}

.logo{
  
  padding: 1em 0;
  background-color:black;
  text-align: center;
  margin: 0;

  
}
.logoImage{
  object-fit: contain;
  width: 70vw;
  max-width: 600px;
}